@model Product
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Detalles del producto en Kiosco Biro">
    <link rel="stylesheet" href="style.css">
    <title>@Model.ProductName - Kiosco Biro</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img class="img-logo" src="/assets/logo/kisoco-modified.png" alt="Kiosco">
        </div>
        <div class="search">
            <input type="search" placeholder="Buscar productos" id="searchBar">
        </div>
    </header>
    <main class="product-details-container">
        <div class="product-details">
            <h1>@Model.ProductName</h1>
            @if (@Model.Quantity > 0)
            {
                <img src="@Model.ProductImage" alt="@Model.ProductName" class="product-image">
            }

            else
            {
                   <img src="@Model.ProductImage2" alt="@Model.ProductName" class="product-image">
            }
            <p><strong>Price:</strong> @Model.Price</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <button onclick="window.history.back()">Back to Products</button>
        </div>
    </main>
    <footer class="footer">
        <a href="https://www.instagram.com/promo25biro/" target="_blank">
            <img src="/assets/redes-sociales/instagram.svg" alt="Instagram">
        </a>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
